.chart-container{
    width: 750px;
    height: 472px;
    background: var( --bg-card) !important;
    border: 1px solid var( --border) !important;
    border-radius: 20px !important;
    padding: 15px;
    padding-top: 25px;
    border-radius: 20px;
    margin-left: 40px;
}
.chart-header{
    font-size: 20px;
    color: var( --h-color) !important;
    font-weight: 400;
}
.chart-text{
    font-size: 14px;
    color: var( --h-color) !important;
    font-weight: 400;
}