.big-container{
    display: flex;
    position: relative;
    width: 264px;
    margin: auto;
    height: 264px;
    align-items: center;
    background: var( --bg-dashboard  )!important;
    border: 1px solid var( --border) !important;
    border-radius: 50%;
    margin-top: 30px;
}

.img-container{
    display: flex;
    position: absolute;
    width: 208px;
    margin: auto;
    height: 208px;
    align-items: center;
    background: var( --bg-card) !important;
    border: 1px solid var( --border) !important;
    border-radius: 50%;
    right: 28px;
    padding-bottom: 20px;
}

.img1{
    width: 35px;
    height:35px ;
    border-radius: 50%;
    position: absolute;
    left: 43px;
}

.img2{
    width: 35px;
    height:35px ;
    border-radius: 50%;
    position: absolute;
    left: 63px;
}
.img3{
    width: 35px;
    height:35px ;
    border-radius: 50%;
    position: absolute;
    left: 85px;
}
.img4{
    width: 35px;
    height:35px ;
    border-radius: 50%;
    position: absolute;
    left: 109px;
}
.img5{
    width: 35px;
    height:35px ;
    border-radius: 50%;
    position: absolute;
    right: 43px;
}