.CTA-container {
  width: 100%;
  border-radius: 40px;
    display: flex;
  padding: 15px;
  justify-content: space-between;
  margin-top: 100px;
  background: var(--bg-nv )!important;

}
.text-CTA-container{
    width: 50%;
    padding-top: 85px;
    padding-left: 50px;
}
.text-CTA {
  color: var( --h-color) !important;
  font-weight: 700;
  font-size: 40px;
}
.btn-CTA{
    width: 170px;
    height: 50px;
    border-radius: 78px;
    background: #A3DC2F;
    margin-top: 30px;
    margin-right: 20px;
    border: 0px;
  }
  
.btn-CTA2 {
  width: 170px;
  height: 50px;
  border-radius: 78px;
  color: var( --bg-nv)!important;
  background: var( --h-color) !important;
  margin-top: 30px;
  border: 0px;
}
.img-CTA{
   width: 400px; 
}
