.className1 {
  width: 298px;
  height: 60px;
  text-align: center;
  background: #ffffff;
  border-radius: 64px;
  color: #000;
  border: 1px solid black;
  margin-top: 195px;
}
.className2 {
  width: 298px;
  height: 60px;
  text-align: center;
  background: #1d1c20;
  border-radius: 64px;
  border: 0px;
  color: #ffffff;
  margin-top: 120px;
}
.className3 {
  width: 298px;
  height: 60px;
  text-align: center;
  background: #a3dc2f;
  border-radius: 64px;
  color: #000;
  border: 0px;
  margin-top: 120px;
}
