.className1 {
  width: 298px;
  height: 60px;
  text-align: center;
  background: var( --bg-nv)!important;
  border-radius: 64px;
  color: var( --h-color)!important;;
  border: 1px solid black;
  margin-top: 195px;
}
.className2 {
  width: 298px;
  height: 60px;
  text-align: center;
  background: var( --h-color )!important;
  border-radius: 64px;
  border: 0px;
  color:  var(  --bg-nv )!important;
  margin-top: 120px;
}
.className3 {
  width: 298px;
  height: 60px;
  text-align: center;
  background: #a3dc2f !important;
  border-radius: 64px;
  color: #000;
  border: 0px;
  margin-top: 120px;
}
