.statCard-container{
    height: 170px;
    background: var( --bg-card) !important;
    border: 1px solid var( --border) !important;
    border-radius: 20px !important;
    padding-top: 10px;

}
.statCard-title{
    color: var(   --text-color2) !important;
    font-size: 20px;
}
.value{
    color: var( --h-color) !important;
    font-size: 50px;
}