.cardBalance-container {
  padding: 10px;
  width: 230px;
  background-color: var( --bg-dashboard) !important;
  border: 1px solid var( --border) !important;
  border-radius: 20px!important;
}

.cardBalance-heading {
  font-weight: 400 !important;
  font-size: 18px !important;
  color: var(   --text-color2) !important;
}

.cardBalance-value{
  font-weight: 500 !important;
  font-size: 44px !important;
  color: var( --h-color) !important;
}
.cardBalance-btn {
  background: black;
  border: 0px;
  width: 185px;
  height: 40px;
  margin-top: 4px;
  position: static!important ;
}
.cardBalance-btn:hover {
  background: black;
}
